.chart {
    flex: 4;
    box-shadow: 2px 4px 10px 1px rgba(221,221,221,0.5);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(221,221,221,0.5);
    -moz-box-shadow: 2px 4px 10px 1px rgba(221,221,221,0.5);
    border-radius: 10px;
    padding: 10px;
    color: gray;
  
    .title {
      margin-bottom: 20px;
    }
  
    .chartGrid {
      stroke: rgb(228, 225, 225);
    }
  }